{% block footer %}
    <footer class="footer-bs" style="background-color: #3c3d41">
<div class="row">
<div class="col-md-3 footer-brand animated fadeInLeft">
<h2>Furniture Store</h2>
<p >
ИНН:**** **** **** **** ****</br>
ОРГН:**** **** **** **** ****
</p>
<p id="copyright">© 2020 Furniture Store </br>All rights reserved</p>
</div>
<div class="col-md-4 footer-nav animated fadeInUp">
<h4 id="footerMenu">Меню </h4>
<div class="col-md-6">
<ul class="pages">
<li><a href="#">Кухни</a></li>
<li><a href="#">Гостиные</a></li>
<li><a href="#">Спальни</a></li>
<li><a href="#">Прихожие</a></li>
<li><a href="#">Офис</a></li>
<li><a href="#">Матрасы</a></li>
</ul>
</div>
<div class="col-md-6">
<ul class="list">
<li><a href="#">Каталог</a></li>
<li><a href="#">Доставка</a></li>
<li><a href="#">Контакты</a></li>
<li><a href="#">Сборка</a></li>
</ul>
</div>
</div>
<div class="col-md-2 footer-social animated fadeInDown">
<p id="Anouncment">Кстати,нам легко дозвониться</p>
<p id="PhoneNumber">+7(965)-700-99-11</p>
<p id="HowDoYouCanUsToFind">
Так же вы можете прийти к нам в офис.
Мы Вам подскажем и удовлетворим Ваши желания.
</p>
<p id="Adress">Наш адрес:</br>г.Калуга</br> Улица Гагарина</br> Дом 21</p>
</div>
<div class="col-md-3 footer-ns animated fadeInRight">
<p id="Writing">Обратная связь</p>
<div class="Feedback">
<p id="Feedback"> Напишите, мы с радостью Вам ответим в ближайшее время.</p>
<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
</span>
</div><!— /input-group —>
</div>
</div>
</footer>
{% endblock %}