{% block footer %}
    <!-- footer -->



        <footer class="text-muted">
          <div class="container">
            <div class="aboutUs">
              <p id="TitleShop">О компании</p>
              <p> Мы занимаемся мебелью с 2012 года.<br> И знаем, что Вы хотите.<p>
              <p id="EndOfTextInFuture"> ООО "Интерьер мебель" <br>ИНН:**************** <br> ОРГН:*************</p>
            </div>
            <div class="footer-map">
              <p> Нас просто найти <p>
                  <a href="https://yandex.ru/maps/?um=constructor%3A190d8fd5637439e6eb643b8047e8a3f3183fd1e99b81b59a515891b267462153&amp;source=constructorStatic" target="_blank">
                    <img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A190d8fd5637439e6eb643b8047e8a3f3183fd1e99b81b59a515891b267462153&amp;width=320&amp;height=240&amp;lang=ru_RU" alt=""  />
                  </a>
            </div>
            <div id="Contacts">
              <p id="TitleOfFooters">Контакты</p>
              <p> Кстати, нам легко дозвониться: </p>
              <p id="PhoneNumber">8 (965) 700-99-11</p>
              <p> Также Вы можете найти наш магазин по адресу:</p>
              <p id="Adress">
                г. Калуга, ул. Гагарина, д.6, кв.21
              </p>
              <p id="Copyrigth">ООО"Интерьер Мебель" <br> &#169; Все права защищены</p>
            </div>
          </div>
        </footer>
  <!----------- Footer ------------>
{% endblock %}