{% block sales %}

    <div class="hot-product">
        <p>Хиты продаж</p>
        <div class="owl-carousel owl-theme">
            {% for hp in hot_product %}
                <div>
                    <figure>
                        <div class="item-product">
                            <p id="item-name">{{hp.name}}</p>
                            <div style=" max-width: 230px; max-height: 200px; margin: 0 auto">
                                <img style="height: 80%;width: 80%; margin: 0 auto; margin-top: 20%" src="{{ hp.image.url }}">

                            </div>
                            <p id="item-price">{{hp.price}}</p>


                            <figcaption>
                                <p>высота*ширина*глубина</p>

                            </figcaption>

                        </div>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}