{% block sales %}

    <div class="hot-product">
        <p>Хиты продаж</p>
        <div class="owl-carousel owl-theme">
            <div>
                <figure>
                    <div class="item-product">
                        <p id="item-name">Название</p>
                        <div style=" max-width: 230px; max-height: 200px; margin: 0 auto">
                            <img style="height: 80%;width: 80%; margin: 0 auto; margin-top: 20%" src="static/img/31-armchair-png-image.png">

                        </div>
                        <p id="item-price">Цена</p>


                        <figcaption>
                            <p>высота*ширина*глубина</p>

                        </figcaption>

                    </div>
                </figure>
            </div>
            <div>
                <figure>
                    <div class="item-product">
                        <p id="item-name">Название</p>
                        <div style=" max-width: 230px; max-height: 200px; margin: 0 auto">
                            <img style="height: 80%;width: 80%; margin: 0 auto; margin-top: 20%" src="static/img/31-armchair-png-image.png">
                            <p id="item-price">Цена</p>
                        </div>


                        <figcaption>
                            <p>высота*ширина*глубина</p>

                        </figcaption>

                    </div>
                </figure>
            </div>
            <div>
                <figure>
                    <div class="item-product">
                        <p id="item-name">Название</p>
                        <div style=" max-width: 230px; max-height: 200px; margin: 0 auto">
                            <img style="height: 80%;width: 80%; margin: 0 auto; margin-top: 20%" src="static/img/31-armchair-png-image.png">
                            <p id="item-price">Цена</p>
                        </div>


                        <figcaption>
                            <p>высота*ширина*глубина</p>

                        </figcaption>

                    </div>
                </figure>
            </div>
            <div>
                <figure>
                    <div class="item-product">
                        <p id="item-name">Название</p>
                        <div style=" max-width: 230px; max-height: 200px; margin: 0 auto">
                            <img style="height: 80%;width: 80%; margin: 0 auto; margin-top: 20%" src="static/img/31-armchair-png-image.png">
                            <p id="item-price">Цена</p>
                        </div>


                        <figcaption>
                            <p>высота*ширина*глубина</p>

                        </figcaption>

                    </div>
                </figure>
            </div>
        </div>
    </div>


{% endblock %}