{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}



    <div class="product-list filling" style="min-height: 1000px">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>

            <div id="catalog">
            {% for product in products %}
                <a href="{{ product.get_absolute_url }}">
                    <div>
                        <figure>
                            <div class="item-product">
                                <p id="item-name">{{ product.name }}</p>
                                <div>
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">

                                </div>
                                <p id="item-price">{{ product.price }} &#8381;</p>


                                <figcaption>
                                    <p>высота*ширина*глубина</p>

                                </figcaption>

                            </div>
                        </figure>
                    </div>
                </a>
            {% endfor %}
            </div>

    </div>








{% endblock %}